# --- Backend
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual env
.venv/
env/
venv/

# Modelos treinados
models/*.joblib
models/*.pkl
models/*.h5

*.log

frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.cache/
frontend/.parcel-cache/
frontend/.next/

# Lock files
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

.vscode/
.history/


.DS_Store
Thumbs.db
ehthumbs.db
Icon?